<body>

  <h3 class="title">Tonny Trambique Exchange</h3>
  <div class="conv row text-center prin center">

    <label for="">Digite o valor à ser convertido</label>
    <input class="moeda1" [(ngModel)]="moeda1" type="text">
    <p></p>
    <label for="">Escolha a conversão à ser feita</label>
    <select [(ngModel)]="moeda2" class="form-select" aria-label="Default select example">
      <option disabled="true">Selecione a moeda atual</option>
      <option *ngFor="let item of lista" [value]="item.high">{{item.name}}</option>
    </select>

    <p></p>

    <button (click)="fazerConversao()" class="btn-dark btn-convert">Converter</button>

    <div>
      <b>Resultado:</b>

      <p>R$:{{resultadoConvercao}}</p>

    </div>
  </div>

</body>