body {
    background-color: black;
    position        : absolute;
    height          : 100%;
    width           : 100%;
}

form {
    width      : 60%;
    margin     : auto;
    color      : white;
    padding-top: 20px;
}

#title {
    color      : white;
    margin     : auto;
    text-align : center;
    padding-top: 70px;
}

.title {
    font-family     : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: seagreen;
    text-align      : center;
    color           : whitesmoke;
    padding         : 20px;
    font-style      : italic;
    font-size       : 30px;

}