body{
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

form{
    width: 60%;
    margin: auto;
    color: white;
    padding-top: 20px;
}

#title{
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 110px;
}